<!-- <h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p> -->

<h1>Student Details</h1>
<% @students.each do |job| %>
  <div class="job">
    <h2><%= link_to student.name, student.age %></h2>
    <p><%= student.lastname %></p>
  </div>
<% end %>
<p><%= link_to "submit", root_path %></p>
