<!-- <h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p> -->

<h1>Student Details</h1>
<% @students.each do |student| %>
  <div class="job">
    <p><%= student.name%></p>
    <p><%= student.age%></p>
    <p><%= student.lastname %></p>
  </div>
<% end %>
